In [186]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_in_use = Path("Resources/schools_complete.csv")
student_data_in_use = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_in_use)
student_data = pd.read_csv(student_data_in_use)

# Combine the data into a single dataset.
final_student_df = pd.merge(student_data, school_data, on=["school_name", "school_name"])
final_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [187]:
# Calculate the total number of unique schools
number_of_schools = len(final_student_df["school_name"].unique())
print("Number of Schools:",number_of_schools)

Number of Schools: 15

In [188]:
# Calculate the total number of students
number_of_students = final_student_df["school_name"].value_counts().sum()
print(f"Number of Students: {number_of_students:,}")

Number of Students: 39,170

In [189]:
# Calculate the total budget
total_budget = final_student_df["budget"].unique().sum()
print(f"Total Budget: ${total_budget:,.2f}")

Total Budget: $24,649,428.00

In [190]:
# Calculate the average (mean) math score
math_average_score = final_student_df["math_score"].mean()
math_average_score = math_average_score
print(f"Average Math Score: {math_average_score:.2f}")

Average Math Score: 78.99

In [191]:
# Calculate the average (mean) reading score
reading_average_score = final_student_df["reading_score"].mean()
print(f"Average Reading Score: {reading_average_score:.2f}")

Average Reading Score: 81.88

In [192]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
pass_math_students = final_student_df[(final_student_df["math_score"] >= 70)].count()["student_name"]
math_pass_rate = (pass_math_students / number_of_students) * 100
print(f"Math Passing Rate: {math_pass_rate:.2f}%")

Math Passing Rate: 74.98%

In [193]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
pass_reading_students = final_student_df[(final_student_df["reading_score"] >= 70)].count()["student_name"]
reading_pass_rate = (pass_reading_students / number_of_students) * 100
print(f"Reading Passing Rate: {reading_pass_rate:.2f}%")

Reading Passing Rate: 85.81%

In [194]:
# Use the following to calculate the percentage of students that passed math and reading
pass_math_reading = final_student_df[(final_student_df["math_score"] >= 70) & (final_student_df["reading_score"] >= 70)].count()["student_name"]
math_reading_pass_rate = (pass_math_reading / number_of_students) * 100
print(f"Overall Passing Rate: {math_reading_pass_rate:.2f}%")

Overall Passing Rate: 65.17%

In [195]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Number of Schools": [number_of_schools],
    "Number of Students": [f"{number_of_students:,}"],
    "Total Budget": [f"${total_budget:,.2f}"],
    "Average Math Score": [f"{math_average_score:.2f}"],
    "Average Reading Score": [f"{reading_average_score:.2f}"],
    "Math Passing Rate": [f"{math_pass_rate:.2f}%"],
    "Reading Passing Rate": [f"{reading_pass_rate:.2f}%"],
    "Overall Passing Rate": [f"{math_reading_pass_rate:.2f}%"]
})
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [196]:
school_names = sorted(final_student_df["school_name"].unique())
school_names

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [197]:
school_types = final_student_df.groupby("school_name")["type"].first()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [198]:
students_per_school = final_student_df["school_name"].value_counts()
students_per_school

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [199]:
budget_per_school = final_student_df.groupby("school_name")["budget"].first().sort_values(ascending=False)
budget_per_school

school_name
Bailey High School       3124928
Johnson High School      3094650
Hernandez High School    3022020
Rodriguez High School    2547363
Huang High School        1910635
Figueroa High School     1884411
Ford High School         1763916
Wilson High School       1319574
Cabrera High School      1081356
Shelton High School      1056600
Wright High School       1049400
Thomas High School       1043130
Griffin High School       917500
Pena High School          585858
Holden High School        248087
Name: budget, dtype: int64

In [200]:
per_capita_budget = (budget_per_school / students_per_school).sort_values(ascending=False)
per_capita_budget

school_name
Huang High School        655.0
Hernandez High School    652.0
Johnson High School      650.0
Ford High School         644.0
Figueroa High School     639.0
Thomas High School       638.0
Rodriguez High School    637.0
Bailey High School       628.0
Griffin High School      625.0
Pena High School         609.0
Shelton High School      600.0
Wright High School       583.0
Cabrera High School      582.0
Holden High School       581.0
Wilson High School       578.0
dtype: float64

In [201]:
school_average_math = final_student_df.groupby("school_name")["math_score"].mean().sort_values(ascending=False)
school_average_math

school_name
Pena High School         83.839917
Holden High School       83.803279
Wright High School       83.682222
Thomas High School       83.418349
Shelton High School      83.359455
Griffin High School      83.351499
Wilson High School       83.274201
Cabrera High School      83.061895
Hernandez High School    77.289752
Ford High School         77.102592
Johnson High School      77.072464
Bailey High School       77.048432
Rodriguez High School    76.842711
Figueroa High School     76.711767
Huang High School        76.629414
Name: math_score, dtype: float64

In [202]:
school_average_reading = final_student_df.groupby("school_name")["reading_score"].mean().sort_values(ascending=False)
school_average_reading

school_name
Pena High School         84.044699
Wilson High School       83.989488
Cabrera High School      83.975780
Wright High School       83.955000
Thomas High School       83.848930
Griffin High School      83.816757
Holden High School       83.814988
Shelton High School      83.725724
Huang High School        81.182722
Figueroa High School     81.158020
Bailey High School       81.033963
Johnson High School      80.966394
Hernandez High School    80.934412
Ford High School         80.746258
Rodriguez High School    80.744686
Name: reading_score, dtype: float64

In [203]:
school_pass_math = ((final_student_df[final_student_df["math_score"] >= 70].groupby("school_name").count()["student_name"] / students_per_school) * 100).sort_values(ascending=False) 
school_pass_math

school_name
Pena High School         94.594595
Cabrera High School      94.133477
Wilson High School       93.867718
Shelton High School      93.867121
Griffin High School      93.392371
Wright High School       93.333333
Thomas High School       93.272171
Holden High School       92.505855
Ford High School         68.309602
Hernandez High School    66.752967
Bailey High School       66.680064
Rodriguez High School    66.366592
Johnson High School      66.057551
Figueroa High School     65.988471
Huang High School        65.683922
dtype: float64

In [204]:
school_pass_reading = ((final_student_df[final_student_df["reading_score"] >= 70].groupby("school_name").count()["student_name"] / students_per_school) * 100).sort_values(ascending=False) 
school_pass_reading

school_name
Thomas High School       97.308869
Griffin High School      97.138965
Cabrera High School      97.039828
Wright High School       96.611111
Wilson High School       96.539641
Holden High School       96.252927
Pena High School         95.945946
Shelton High School      95.854628
Bailey High School       81.933280
Huang High School        81.316421
Johnson High School      81.222432
Hernandez High School    80.862999
Figueroa High School     80.739234
Rodriguez High School    80.220055
Ford High School         79.299014
dtype: float64

In [205]:
both_pass_school = final_student_df[(final_student_df["math_score"] >= 70) & (final_student_df["reading_score"] >= 70)]
school_pass = both_pass_school.groupby("school_name").count()['student_name']
school_pass_rate = ((school_pass / students_per_school) * 100).sort_values(ascending=False)
school_pass_rate

school_name
Cabrera High School      91.334769
Thomas High School       90.948012
Griffin High School      90.599455
Wilson High School       90.582567
Pena High School         90.540541
Wright High School       90.333333
Shelton High School      89.892107
Holden High School       89.227166
Bailey High School       54.642283
Ford High School         54.289887
Johnson High School      53.539172
Hernandez High School    53.527508
Huang High School        53.513884
Figueroa High School     53.204476
Rodriguez High School    52.988247
dtype: float64

In [206]:
per_school_summary = pd.DataFrame({
    "School Name": school_names,
    "School Type": school_types,
    "Student Count": students_per_school,
    "Budget ($)": budget_per_school,
    "Per Capita Budget ($)": per_capita_budget,
    "Math Average Score": school_average_math,
    "Reading Average Score": school_average_reading,
    "Math Passing Rate (%)": school_pass_math,
    "Reading Passing Rate (%)": school_pass_reading,
    "Overall Passing Rate (%)": school_pass_rate})

per_school_summary.set_index("School Name", inplace=True)
per_school_summary

,School Type,Student Count,Budget ($),Per Capita Budget ($),Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%)
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [207]:
top_schools = per_school_summary.sort_values(by = "Overall Passing Rate (%)", ascending = False)
top_schools.head()

,School Type,Student Count,Budget ($),Per Capita Budget ($),Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%)
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [208]:
bottom_schools = per_school_summary.sort_values(by = "Overall Passing Rate (%)", ascending = True)
bottom_schools.head()

,School Type,Student Count,Budget ($),Per Capita Budget ($),Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%)
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [209]:
ninth_grade  = final_student_df[(final_student_df["grade"] == "9th")]
tenth_grade  = final_student_df[(final_student_df["grade"] == "10th")]
eleventh_grade  = final_student_df[(final_student_df["grade"] == "11th")]
twelfth_grade  = final_student_df[(final_student_df["grade"] == "12th")]

ninth_grade_math = ninth_grade.groupby("school_name")["math_score"].mean()
tenth_grade_math = tenth_grade.groupby("school_name")["math_score"].mean()
eleventh_grade_math = eleventh_grade.groupby("school_name")["math_score"].mean()
twelfth_grade_math = twelfth_grade.groupby("school_name")["math_score"].mean()

math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math,
    "10th": tenth_grade_math,
    "11th": eleventh_grade_math,
    "12th": twelfth_grade_math})
    
math_scores_by_grade.index.name = None

math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [210]:
ninth_grade  = final_student_df[(final_student_df["grade"] == "9th")]
tenth_grade  = final_student_df[(final_student_df["grade"] == "10th")]
eleventh_grade  = final_student_df[(final_student_df["grade"] == "11th")]
twelfth_grade  = final_student_df[(final_student_df["grade"] == "12th")]

ninth_grade_reading = ninth_grade.groupby("school_name")["reading_score"].mean()
tenth_grade_reading = tenth_grade.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading = eleventh_grade.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading = twelfth_grade.groupby("school_name")["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading,
    "10th": tenth_grade_reading,
    "11th": eleventh_grade_reading,
    "12th": twelfth_grade_reading})
    
reading_scores_by_grade.index.name = None

reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [211]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [212]:
school_spending = per_school_summary.copy()

In [213]:
school_spending["Spending Range"] = pd.cut(per_school_summary["Per Capita Budget ($)"], spending_bins, labels = labels)
school_spending

,School Type,Student Count,Budget ($),Per Capita Budget ($),Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%),Spending Range
School Name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [214]:
spending_math_scores = school_spending.groupby(["Spending Range"])["Math Average Score"].mean()
spending_reading_scores = school_spending.groupby(["Spending Range"])["Reading Average Score"].mean()
spending_passing_math = school_spending.groupby(["Spending Range"])["Math Passing Rate (%)"].mean()
spending_passing_reading = school_spending.groupby(["Spending Range"])["Reading Passing Rate (%)"].mean()
overall_passing_spending = school_spending.groupby(["Spending Range"])["Overall Passing Rate (%)"].mean()

In [215]:
spending_summary = pd.DataFrame({
    "Math Average Score": spending_math_scores,
    "Reading Average Score": spending_reading_scores,
    "Math Passing Rate (%)": spending_passing_math,
    "Reading Passing Rate (%)": spending_passing_reading,
    "Overall Passing Rate (%)": overall_passing_spending
})

spending_summary

,Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%)
Spending Range,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [216]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [217]:
school_size = school_spending.copy()

In [218]:
school_size["School Size"] = pd.cut(per_school_summary["Student Count"], size_bins, labels = size_labels)
school_size

,School Type,Student Count,Budget ($),Per Capita Budget ($),Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%),Spending Range,School Size
School Name,,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)

In [219]:
size_math_scores = school_size.groupby(["School Size"])["Math Average Score"].mean()
size_reading_scores = school_size.groupby(["School Size"])["Reading Average Score"].mean()
size_passing_math = school_size.groupby(["School Size"])["Math Passing Rate (%)"].mean()
size_passing_reading = school_size.groupby(["School Size"])["Reading Passing Rate (%)"].mean()
overall_passing_size = school_size.groupby(["School Size"])["Overall Passing Rate (%)"].mean()

In [220]:
size_summary = pd.DataFrame({
    "Math Average Score": size_math_scores,
    "Reading Average Score": size_reading_scores,
    "Math Passing Rate (%)": size_passing_math,
    "Reading Passing Rate (%)": size_passing_reading,
    "Overall Passing Rate (%)": overall_passing_size
})

size_summary

,Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%)
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [221]:
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Math Average Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Reading Average Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Math Passing Rate (%)"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Reading Passing Rate (%)"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Overall Passing Rate (%)"].mean()

In [222]:
type_summary = pd.DataFrame({
    "Math Average Score": average_math_score_by_type,
    "Reading Average Score": average_reading_score_by_type,
    "Math Passing Rate (%)": average_percent_passing_math_by_type,
    "Reading Passing Rate (%)": average_percent_passing_reading_by_type,
    "Overall Passing Rate (%)": average_percent_overall_passing_by_type
})
type_summary

,Math Average Score,Reading Average Score,Math Passing Rate (%),Reading Passing Rate (%),Overall Passing Rate (%)
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208